:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-color: #ffffff;
  --line-height-base: 1.5;
  --font-size-base: 16px;
  --container-max-width: 1158px;
  --section-padding: 96px;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-background-color: rgba(46, 47, 66, 0.7);
  --modal-background-color: #fcfcfc;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-timing-function-ease-in-out: ease-in-out;
}

body {
  background-color: var(--white-color);
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-base);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  line-height: var(--line-height-base);
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.02em;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

*:focus {
  outline: none;
}

.container {
  max-width: var(--container-max-width);
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: var(--section-padding) 0;
}

@media screen and (min-width: 1158px) {
  :root {
    --section-padding: 120px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: 0.02em;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: 500;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
}

.button.button--primary {
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  padding: 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000026;
}

.button.button--primary:focus,
.button.button--primary:hover {
  background-color: var(--pressed-state-color);
}

.button.button--muted {
  background-color: var(--light-color);
  color: var(--primary-brand-color);
  padding: 12px 24px;
  border: 1px solid var(--accent-color);
  box-shadow: none;
}

.button.button--muted:focus,
.button.button--muted:hover {
  background-color: var(--pressed-state-color);
  color: var(--white-color);
  border: 1px solid var(--pressed-state-color);
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 2px 1px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}

.checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--modal-overlay-color);
  transition: border-color var(--transition-duration)
      var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.checkbox:focus-within {
  border-color: var(--primary-brand-color);
}

.checkbox:has(.checkbox__input:checked) {
  border-color: var(--primary-brand-color);
  background-color: var(--primary-brand-color);
}

.checkbox__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--white-color);
  opacity: 0;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
}

.checkbox__input:checked + .checkbox__icon {
  opacity: 1;
}

.input {
  display: block;
  width: 264px;
  background-color: transparent;
  color: var(--dark-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 1px solid var(--modal-overlay-color);
  padding: 7px 16px;
  outline: transparent;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.input::placeholder {
  color: var(--modal-overlay-color);
}

.input.input--inverted {
  color: var(--white-color);
  border-color: var(--white-color);
}

.input.input--inverted::placeholder {
  color: var(--white-color);
}

.input:focus {
  border-color: var(--primary-brand-color);
}

.textarea {
  color: var(--dark-color);
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 1px solid var(--modal-overlay-color);
  padding: 7px 16px;
  resize: none;
  outline: transparent;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.textarea::placeholder {
  color: var(--modal-overlay-color);
}

.textarea:focus {
  border-color: var(--primary-brand-color);
}

.header {
  border-bottom: 1px solid var(--accent-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.logo {
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 1.16667;
  font-weight: 800;
  color: var(--dark-color);
  letter-spacing: 0.03em;
}

.logo--inverted {
  color: var(--light-color);
}

.logo__mark {
  color: var(--primary-brand-color);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 76px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-menu__link {
  display: block;
  line-height: var(--line-height-base);
  font-weight: 500;
  color: var(--dark-color);
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav-menu__link::after {
  content: '';
  width: 100%;
  border: 2px solid currentColor;
  border-radius: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
}

.nav-menu__link.nav-menu__link--active,
.nav-menu__link:focus,
.nav-menu__link:hover {
  color: var(--pressed-state-color);
}

.nav-menu__link.nav-menu__link--active::after {
  opacity: 1;
}

.nav-menu.nav-menu--mobile {
  flex-direction: column;
  align-items: flex-start;
}

.nav-menu--mobile .nav-menu__link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11112;
  letter-spacing: 0.02em;
  padding: 0;
}

.nav-menu--mobile .nav-menu__link.nav-menu__link--active::after {
  content: none;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.address-list__link {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address-list__link:focus,
.address-list__link:hover {
  color: var(--pressed-state-color);
}

@media screen and (max-width: 767px) {
  .header .nav-menu,
  .header .address-list {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-list__link {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

.mobile-menu-info {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.address-list.address-list--mobile {
  flex-direction: column;
  align-items: flex-start;
}

.address-list--mobile .address-list__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.address-list--mobile .address-list__link.address-list__link--highlighted {
  color: var(--primary-brand-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11112;
  letter-spacing: 0.02em;
}

.address-list--mobile .address-list__link.address-list__link--highlighted:focus,
.address-list--mobile
  .address-list__link.address-list__link--highlighted:hover {
  color: var(--pressed-state-color);
}

.mobile-menu-contacts {
  display: flex;
  gap: 56px;
}

@media screen and (max-width: 427px) {
  .mobile-menu-contacts {
    gap: 24px;
  }
}

.mobile-menu-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-brand-color);
  color: var(--light-color);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.mobile-menu-contact:focus,
.mobile-menu-contact:hover {
  background-color: var(--pressed-state-color);
}

.mobile-menu-contact__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.footer__text {
  color: var(--light-color);
  max-width: 268px;
}
/* desktop
max-width: 264px; */

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-container__col {
  display: flex;
  flex-direction: column;
}

.footer-container__col.footer-container__col--logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* desktop
margin-right: 120px; */

.footer-container__col.footer-container__col--contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* desktop
 margin-right: 80px; */

.footer-container__col.footer-container__col--subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .logo {
  margin-bottom: 16px;
}

.footer-contacts-title {
  font-weight: 500;
  color: var(--white-color);
  margin-bottom: 16px;
}

.footer-contacts {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-brand-color);
  color: var(--light-color);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.footer-contact:focus,
.footer-contact:hover {
  background-color: var(--success-color);
}

.footer-contact__icon {
  fill: currentColor;
}

.footer-subscribe-title {
  font-weight: 500;
  color: var(--white-color);
  margin-bottom: 16px;
}

.footer-subscribe-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-subscribe-form input {
  width: 100%;
  max-width: 398px;
  margin-bottom: 16px;
}

.button.footer-subscribe-form__button {
  display: inline-flex;
  padding: 8px 24px;
  gap: 16px;
}

.footer-subscribe-form__button-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
    padding-right: 106px;
    padding-left: 106px;
  }

  .footer-container__col.footer-container__col--contacts,
  .footer-container__col.footer-container__col--logo,
  .footer-container__col.footer-container__col--subscribe {
    align-items: flex-start;
  }

  .footer__text {
    max-width: 264px;
  }

  .footer-subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-subscribe-form .input {
    width: 264px;
    margin-bottom: 0;
  }
}

.hero-section {
  background-color: var(--dark-color);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 1440px;
  padding-top: 112px;
  padding-bottom: 112px;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section__title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11112;
  letter-spacing: 0.02em;
  max-width: 320px;
  text-align: center;
  margin-bottom: 72px;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero-section__title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07143;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 72px;
}

.advantages-list__item-title {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11112;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.advantages-list__item .text {
  font-weight: 500;
}

.advantages-list__item-icon-holder {
  display: none;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }

  .advantages-list__item-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .advantages-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .advantages-list__item-icon-holder {
    display: block;
    padding: 24px 96px;
    background-color: var(--light-color);
    max-width: 260px;
    margin-bottom: 8px;
  }

  .advantages-list__item-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-list__item .text {
    font-weight: 400;
  }
}

.about-section {
  display: none;
}

@media screen and (min-width: 1158px) {
  .about-section {
    display: block;
    padding-bottom: var(--section-padding);
  }

  .about-title {
    color: var(--dark-color);
    font-size: 36px;
    line-height: 1.11112;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
  }

  .about-list {
    display: flex;
    gap: 24px;
  }
}

.team-section {
  background-color: var(--light-color);
}

.team-list {
  display: grid;
  grid-template-columns: 264px;
  justify-content: center;
  row-gap: 72px;
}

.team-title {
  color: var(--dark-color);
  font-size: 36px;
  line-height: 1.11112;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.team-card {
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  border-radius: 0 0 4px 4px;
}

.team-card__info {
  padding: 32px 16px;
  text-align: center;
}

.team-card__text {
  color: var(--dark-color);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-card__contacts {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-card__contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-brand-color);
  color: var(--light-color);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.team-card__contact-link:focus,
.team-card__contact-link:hover {
  background-color: var(--pressed-state-color);
}

.team-card__contact-link-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .team-list {
    grid-template-columns: repeat(2, 264px);
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    grid-template-columns: repeat(4, 264px);
  }
}

.portfolio-section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;
}

.portfolio-card-list {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 48px;
}

.portfolio-card__content {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.portfolio-card__content img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.portfolio-card__info {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.portfolio-card:focus .portfolio-card__info,
.portfolio-card:hover .portfolio-card__info {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-card__title {
  color: var(--dark-color);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  color: var(--light-color);
  background-color: var(--primary-brand-color);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.portfolio-card:focus .portfolio-card__overlay,
.portfolio-card:hover .portfolio-card__overlay {
  transform: translateY(0);
}

@media screen and (max-width: 767px) {
  .filter-list .button {
    padding: 8px 16px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-section {
    padding-top: 64px;
    padding-bottom: var(--section-padding);
  }

  .filter-list {
    justify-content: center;
    margin-bottom: 64px;
  }

  .portfolio-card-list {
    grid-template-columns: repeat(2, 356px);
    column-gap: 24px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding-top: 100px;
  }

  .filter-list {
    justify-content: center;
    margin-bottom: 72px;
  }

  .portfolio-card-list {
    grid-template-columns: repeat(3, 360px);
    column-gap: 24px;
    justify-content: center;
  }
}

.customers-title {
  color: var(--dark-color);
  font-size: 36px;
  line-height: 1.11112;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.customers-list {
  display: grid;
  grid-template-columns: 168px;
  justify-content: center;
  row-gap: 72px;
}

.customer-logo {
  display: block;
  max-width: 190px;
  padding: 12px 32px;
  margin: 0 auto;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  color: var(--subtle-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function);
}

.customer-logo__icon {
  fill: currentColor;
}

.customer-logo:focus,
.customer-logo:hover {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}

@media screen and (min-width: 428px) {
  .customers-list {
    grid-template-columns: repeat(2, 190px);
    column-gap: 16px;
  }
}

@media screen and (min-width: 768px) {
  .customers-list {
    grid-template-columns: repeat(3, 168px);
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .customers-list {
    grid-template-columns: repeat(6, 168px);
  }

  .customer-logo {
    padding: 14px 32px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay-color);

  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
  transition-delay: 0s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: 300ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 408px;
  width: 100%;
  min-height: 584px;
  background-color: var(--modal-background-color);
  border-radius: 4px;
  padding: 72px 24px 24px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
  transition: transform var(--transition-duration)
      var(--transition-timing-function),
    opacity var(--transition-duration) var(--transition-timing-function);
  transition-delay: 0s;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
  transition-delay: 300ms;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--accent-color);
  color: var(--dark-color);
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: border-color var(--transition-duration)
      var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.modal-button:focus,
.modal-button:hover {
  color: var(--white-color);
  border-color: var(--pressed-state-color);
  background-color: var(--pressed-state-color);
}

.modal-button__icon {
  fill: currentColor;
}

.modal-contacts-title {
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 16px;
  font-weight: 500;
}

.contacts-form {
  display: flex;
  flex-direction: column;
}

.contacts-form__input-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.contacts-form__input-wrapper:focus-within .contacts-form__input-icon {
  fill: var(--primary-brand-color);
}

.contacts-form__label {
  color: var(--subtle-text-color);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
}

.contacts-form__label:not(:last-of-type) {
  margin-bottom: 4px;
}

.contacts-form__label:last-of-type {
  margin-bottom: 24px;
}

.contacts-form__input {
  width: 100%;
  padding-left: 38px;
}

.contacts-form__input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.contacts-form__textarea {
  margin-bottom: 16px;
  max-height: 120px;
}

.contacts-form__link {
  color: var(--primary-brand-color);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.contacts-form__button {
  align-self: center;
  width: 169px;
}

.contacts-form__link {
  color: var(--primary-brand-color);
  text-decoration: underline;
}

.contacts-form__label.contacts-form__accept {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mobile-menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu-toggle {
    display: none;
  }
}

.mobile-menu-toggle:hover,
.mobile-menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 40px 40px 40px;
  background-color: var(--white-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function-ease-in-out);
}

.mobile-menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-container .social-buttons {
  gap: 56px;
}

.mobile-menu-container .phone-link {
  margin-bottom: 40px;
}

.mobile-menu-container .email-link {
  margin-bottom: 48px;
}
